:root {
    --pathe-yellow: #ffc426;
    --roboto: "Gothic Bold";
}

.bg-yellow {
    background: #ffc426;
}

.hover:hover {
    border-color: #fff;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-weight: bold;
    font-family: Century Gothic, Roboto, serif !important;
}

div.row {
    font-family: Century Gothic, Roboto, serif !important;
}


/*FIGMA HTML/CSS*/
.e1_121 {
    width: 100vw;
    height: 100vh;
}

.e1_19 {
    width: 402px;
    height: 603px;
    position: absolute;
    left: 760px;
    top: 231px;
}

.e1_3 {
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    background-color: rgba(24.43749949336052, 24.356048963963985, 24.356048963963985, 1);
    width: 402px;
    height: 603px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e1_15 {
    color: rgba(255, 255, 255, 1);
    width: 323px;
    height: 98px;
    position: absolute;
    left: 39px;
    top: 392px;
    font-family: Roboto;
    text-align: center;
    letter-spacing: 0;
}

.e1_16 {
    color: rgba(255, 255, 255, 1);
    width: 277.6312255859375px;
    height: 35.17498779296875px;
    position: absolute;
    left: 40px;
    top: 490px;
    font-family: Roboto;
    text-align: left;
    letter-spacing: 0;
}

.e1_17 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 321.5999755859375px;
    height: 321.6000061035156px;
    position: absolute;
    left: 40.20000076293945px;
    top: 40.20000076293945px;
}

.e1_34 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 256px;
    height: 384px;
    position: absolute;
    left: 1209px;
    top: 592px;
}

.ei1_34_1_4 {
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    background-color: rgba(43.56250025331974, 43.56250025331974, 43.56250025331974, 1);
    width: 256px;
    height: 384px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei1_34_1_20 {
    color: rgba(255, 255, 255, 1);
    width: 223px;
    height: 78px;
    position: absolute;
    left: 16px;
    top: 242px;
    font-family: Roboto;
    text-align: center;
    letter-spacing: 0;
}

.ei1_34_1_21 {
    color: rgba(255, 255, 255, 1);
    width: 221px;
    height: 28px;
    position: absolute;
    left: 16px;
    top: 320px;
    font-family: Roboto;
    text-align: left;
    letter-spacing: 0;
}

.ei1_34_1_22 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 200px;
    height: 200px;
    position: absolute;
    left: 28px;
    top: 25px;
}

.e1_29 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 256px;
    height: 384px;
    position: absolute;
    left: 1209px;
    top: 112px;
}

.ei1_29_1_4 {
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    background-color: rgba(43.56250025331974, 43.56250025331974, 43.56250025331974, 1);
    width: 256px;
    height: 384px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei1_29_1_20 {
    color: rgba(255, 255, 255, 1);
    width: 223px;
    height: 78px;
    position: absolute;
    left: 16px;
    top: 242px;
    font-family: Roboto;
    text-align: center;
    letter-spacing: 0;
}

.ei1_29_1_21 {
    color: rgba(255, 255, 255, 1);
    width: 221px;
    height: 28px;
    position: absolute;
    left: 16px;
    top: 320px;
    font-family: Roboto;
    text-align: left;
    letter-spacing: 0;
}

.ei1_29_1_22 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 200px;
    height: 200px;
    position: absolute;
    left: 28px;
    top: 25px;
}

.e1_23 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 256px;
    height: 384px;
    position: absolute;
    left: 455px;
    top: 112px;
}

.e1_4 {
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    background-color: rgba(43.56250025331974, 43.56250025331974, 43.56250025331974, 1);
    width: 256px;
    height: 384px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e1_20 {
    color: rgba(255, 255, 255, 1);
    width: 223px;
    height: 78px;
    position: absolute;
    left: 16px;
    top: 242px;
    font-family: Roboto;
    text-align: center;
    letter-spacing: 0;
}

.e1_21 {
    color: rgba(255, 255, 255, 1);
    width: 221px;
    height: 28px;
    position: absolute;
    left: 16px;
    top: 320px;
    font-family: Roboto;
    text-align: left;
    letter-spacing: 0;
}

.e1_22 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 200px;
    height: 200px;
    position: absolute;
    left: 28px;
    top: 25px;
}

.e1_24 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 256px;
    height: 384px;
    position: absolute;
    left: 455px;
    top: 592px;
}

.ei1_24_1_4 {
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    background-color: rgba(43.56250025331974, 43.56250025331974, 43.56250025331974, 1);
    width: 256px;
    height: 384px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei1_24_1_20 {
    color: rgba(255, 255, 255, 1);
    width: 223px;
    height: 78px;
    position: absolute;
    left: 16px;
    top: 242px;
    font-family: Roboto;
    text-align: center;
    letter-spacing: 0;
}

.ei1_24_1_21 {
    color: rgba(255, 255, 255, 1);
    width: 221px;
    height: 28px;
    position: absolute;
    left: 16px;
    top: 320px;
    font-family: Roboto;
    text-align: left;
    letter-spacing: 0;
}

.ei1_24_1_22 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 200px;
    height: 200px;
    position: absolute;
    left: 28px;
    top: 25px;
}

.e1_59 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 300px;
    position: absolute;
    left: 207px;
    top: 54px;
}

.e1_8 {
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    background-color: rgba(86.06250151991844, 83.98268312215805, 83.98268312215805, 1);
    width: 200px;
    height: 300px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e1_57 {
    color: rgba(255, 255, 255, 1);
    width: 186px;
    height: 56px;
    position: absolute;
    left: 7px;
    top: 193px;
    font-family: Roboto;
    text-align: center;
    letter-spacing: 0;
}

.e1_58 {
    color: rgba(255, 255, 255, 1);
    width: 147px;
    height: 28px;
    position: absolute;
    left: 16px;
    top: 239px;
    font-family: Roboto;
    text-align: left;
    letter-spacing: 0;
}

.e1_51 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 168px;
    height: 168px;
    position: absolute;
    left: 16px;
    top: 20px;
}

.e1_60 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 300px;
    position: absolute;
    left: 207px;
    top: 390px;
}

.ei1_60_1_8 {
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    background-color: rgba(86.06250151991844, 83.98268312215805, 83.98268312215805, 1);
    width: 200px;
    height: 300px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei1_60_1_57 {
    color: rgba(255, 255, 255, 1);
    width: 186px;
    height: 56px;
    position: absolute;
    left: 7px;
    top: 193px;
    font-family: Roboto;
    text-align: center;
    letter-spacing: 0;
}

.ei1_60_1_58 {
    color: rgba(255, 255, 255, 1);
    width: 147px;
    height: 28px;
    position: absolute;
    left: 16px;
    top: 239px;
    font-family: Roboto;
    text-align: left;
    letter-spacing: 0;
}

.ei1_60_1_51 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 168px;
    height: 168px;
    position: absolute;
    left: 16px;
    top: 20px;
}

.e1_65 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 300px;
    position: absolute;
    left: 207px;
    top: 734px;
}

.ei1_65_1_8 {
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    background-color: rgba(86.06250151991844, 83.98268312215805, 83.98268312215805, 1);
    width: 200px;
    height: 300px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei1_65_1_57 {
    color: rgba(255, 255, 255, 1);
    width: 186px;
    height: 56px;
    position: absolute;
    left: 7px;
    top: 193px;
    font-family: Roboto;
    text-align: center;
    letter-spacing: 0;
}

.ei1_65_1_58 {
    color: rgba(255, 255, 255, 1);
    width: 147px;
    height: 28px;
    position: absolute;
    left: 16px;
    top: 239px;
    font-family: Roboto;
    text-align: left;
    letter-spacing: 0;
}

.ei1_65_1_51 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 168px;
    height: 168px;
    position: absolute;
    left: 16px;
    top: 20px;
}

.e1_70 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 300px;
    position: absolute;
    left: 1513px;
    top: 56px;
}

.ei1_70_1_8 {
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    background-color: rgba(86.06250151991844, 83.98268312215805, 83.98268312215805, 1);
    width: 200px;
    height: 300px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei1_70_1_57 {
    color: rgba(255, 255, 255, 1);
    width: 186px;
    height: 56px;
    position: absolute;
    left: 7px;
    top: 193px;
    font-family: Roboto;
    text-align: center;
    letter-spacing: 0;
}

.ei1_70_1_58 {
    color: rgba(255, 255, 255, 1);
    width: 147px;
    height: 28px;
    position: absolute;
    left: 16px;
    top: 239px;
    font-family: Roboto;
    text-align: left;
    letter-spacing: 0;
}

.ei1_70_1_51 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 168px;
    height: 168px;
    position: absolute;
    left: 16px;
    top: 20px;
}

.e1_75 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 300px;
    position: absolute;
    left: 1513px;
    top: 395px;
}

.ei1_75_1_8 {
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    background-color: rgba(86.06250151991844, 83.98268312215805, 83.98268312215805, 1);
    width: 200px;
    height: 300px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei1_75_1_57 {
    color: rgba(255, 255, 255, 1);
    width: 186px;
    height: 56px;
    position: absolute;
    left: 7px;
    top: 193px;
    font-family: Roboto;
    text-align: center;
    letter-spacing: 0;
}

.ei1_75_1_58 {
    color: rgba(255, 255, 255, 1);
    width: 147px;
    height: 28px;
    position: absolute;
    left: 16px;
    top: 239px;
    font-family: Roboto;
    text-align: left;
    letter-spacing: 0;
}

.ei1_75_1_51 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 168px;
    height: 168px;
    position: absolute;
    left: 16px;
    top: 20px;
}

.e1_80 {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 200px;
    height: 300px;
    position: absolute;
    left: 1513px;
    top: 734px;
}

.ei1_80_1_8 {
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25);
    background-color: rgba(86.06250151991844, 83.98268312215805, 83.98268312215805, 1);
    width: 200px;
    height: 300px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei1_80_1_57 {
    color: rgba(255, 255, 255, 1);
    width: 186px;
    height: 56px;
    position: absolute;
    left: 7px;
    top: 193px;
    font-family: Roboto;
    text-align: center;
    letter-spacing: 0;
}

.ei1_80_1_58 {
    color: rgba(255, 255, 255, 1);
    width: 147px;
    height: 28px;
    position: absolute;
    left: 16px;
    top: 239px;
    font-family: Roboto;
    text-align: left;
    letter-spacing: 0;
}

.ei1_80_1_51 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 168px;
    height: 168px;
    position: absolute;
    left: 16px;
    top: 20px;
}

.e1_106 {
    color: rgba(43.56250025331974, 43.56250025331974, 43.56250025331974, 1);
    width: 403px;
    height: 122px;
    position: absolute;
    left: 758px;
    top: 45px;
    font-family: Roboto;
    text-align: center;
    letter-spacing: 0;
}

.e1_128 {
    width: 128px;
    height: 128px;
    position: absolute;
    left: 896px;
    top: 884px;
}

.e1_125 {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 500px;
    background-color: rgba(255, 195.4902532696724, 36.124995946884155, 1);
    width: 128px;
    height: 128px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.1
_125 {
    border: 2px solid rgba(102.00000151991844, 102.00000151991844, 102.00000151991844, 1);
}

.e1_127 {
    color: rgba(0, 0, 0, 1);
    width: 57px;
    height: 85px;
    position: absolute;
    left: 36px;
    top: 12px;
    font-family: Roboto;
    text-align: center;
    letter-spacing: 0;
}

.11_34 {
    overflow: hidden;
}

.e11_34 {
    background-color: rgba(255, 255, 255, 1);
    width: 997.3333129882812px;
    height: 561px;
    position: absolute;
}

.e11_35 {
    width: 208.81668090820312px;
    height: 313.2250061035156px;
    position: absolute;
    left: 394.77777099609375px;
    top: 119.99164581298828px;
}

.ei11_35_1_3 {
    box-shadow: 0px 2.077777862548828px 25.97222328186035px rgba(0, 0, 0, 0.25);
    background-color: rgba(24.43749949336052, 24.356048963963985, 24.356048963963985, 1);
    width: 208.81668090820312px;
    height: 313.2250061035156px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei11_35_1_15 {
    color: rgba(255, 255, 255, 1);
    width: 167.7805633544922px;
    height: 50.905555725097656px;
    position: absolute;
    left: 20.25833511352539px;
    top: 203.62222290039062px;
    font-family: Roboto;
    text-align: center;

    letter-spacing: 0;
}

.ei11_35_1_16 {
    color: rgba(255, 255, 255, 1);
    width: 144.21400451660156px;
    height: 18.271451950073242px;
    position: absolute;
    left: 20.77777862548828px;
    top: 254.5277862548828px;
    font-family: Roboto;
    text-align: left;
    letter-spacing: 0;
}

.ei11_35_1_17 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 167.05332946777344px;
    height: 167.0533447265625px;
    position: absolute;
    left: 20.881641387939453px;
    top: 20.881669998168945px;
}

.e11_36 {
    box-shadow: 0px 2.077777862548828px 2.077777862548828px rgba(0, 0, 0, 0.25);
    width: 132.977783203125px;
    height: 199.4666748046875px;
    position: absolute;
    left: 628.0084228515625px;
    top: 307.51116943359375px;
}

.ei11_36_1_4 {
    box-shadow: 0px 2.077777862548828px 25.97222328186035px rgba(0, 0, 0, 0.25);
    background-color: rgba(43.56250025331974, 43.56250025331974, 43.56250025331974, 1);
    width: 132.977783203125px;
    height: 199.4666748046875px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei11_36_1_20 {
    color: rgba(255, 255, 255, 1);
    width: 115.83611297607422px;
    height: 40.51667022705078px;
    position: absolute;
    left: 8.311111450195312px;
    top: 125.70555877685547px;
    font-family: Roboto;
    text-align: center;

    letter-spacing: 0;
}

.ei11_36_1_21 {
    color: rgba(255, 255, 255, 1);
    width: 114.79722595214844px;
    height: 15px;
    position: absolute;
    left: 8.311111450195312px;
    top: 166.22222900390625px;
    font-family: Roboto;
    text-align: left;

    letter-spacing: 0;
}

.ei11_36_1_22 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 103.8888931274414px;
    height: 103.8888931274414px;
    position: absolute;
    left: 14.544445037841797px;
    top: 12.986111640930176px;
}

.e11_37 {
    box-shadow: 0px 2.077777862548828px 2.077777862548828px rgba(0, 0, 0, 0.25);
    width: 132.977783203125px;
    height: 199.4666748046875px;
    position: absolute;
    left: 628.0084228515625px;
    top: 58.17781448364258px;
}

.ei11_37_1_4 {
    box-shadow: 0px 2.077777862548828px 25.97222328186035px rgba(0, 0, 0, 0.25);
    background-color: rgba(43.56250025331974, 43.56250025331974, 43.56250025331974, 1);
    width: 132.977783203125px;
    height: 199.4666748046875px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei11_37_1_20 {
    color: rgba(255, 255, 255, 1);
    width: 115.83611297607422px;
    height: 40.51667022705078px;
    position: absolute;
    left: 8.311111450195312px;
    top: 125.70556640625px;
    font-family: Roboto;
    text-align: center;

    letter-spacing: 0;
}

.ei11_37_1_21 {
    color: rgba(255, 255, 255, 1);
    width: 114.79722595214844px;
    height: 15px;
    position: absolute;
    left: 8.311111450195312px;
    top: 166.22222900390625px;
    font-family: Roboto;
    text-align: left;

    letter-spacing: 0;
}

.ei11_37_1_22 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 103.8888931274414px;
    height: 103.8888931274414px;
    position: absolute;
    left: 14.544445037841797px;
    top: 12.986109733581543px;
}

.e11_38 {
    box-shadow: 0px 2.077777862548828px 2.077777862548828px rgba(0, 0, 0, 0.25);
    width: 132.977783203125px;
    height: 199.4666748046875px;
    position: absolute;
    left: 236.34722900390625px;
    top: 58.17781448364258px;
}

.ei11_38_1_4 {
    box-shadow: 0px 2.077777862548828px 25.97222328186035px rgba(0, 0, 0, 0.25);
    background-color: rgba(43.56250025331974, 43.56250025331974, 43.56250025331974, 1);
    width: 132.977783203125px;
    height: 199.4666748046875px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei11_38_1_20 {
    color: rgba(255, 255, 255, 1);
    width: 115.83611297607422px;
    height: 40.51667022705078px;
    position: absolute;
    left: 8.311111450195312px;
    top: 125.70556640625px;
    font-family: Roboto;
    text-align: center;

    letter-spacing: 0;
}

.ei11_38_1_21 {
    color: rgba(255, 255, 255, 1);
    width: 114.79722595214844px;
    height: 15px;
    position: absolute;
    left: 8.311111450195312px;
    top: 166.22222900390625px;
    font-family: Roboto;
    text-align: left;

    letter-spacing: 0;
}

.ei11_38_1_22 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 103.8888931274414px;
    height: 103.8888931274414px;
    position: absolute;
    left: 14.544445037841797px;
    top: 12.986109733581543px;
}

.e11_39 {
    box-shadow: 0px 2.077777862548828px 2.077777862548828px rgba(0, 0, 0, 0.25);
    width: 132.977783203125px;
    height: 199.4666748046875px;
    position: absolute;
    left: 236.34722900390625px;
    top: 307.51116943359375px;
}

.ei11_39_1_4 {
    box-shadow: 0px 2.077777862548828px 25.97222328186035px rgba(0, 0, 0, 0.25);
    background-color: rgba(43.56250025331974, 43.56250025331974, 43.56250025331974, 1);
    width: 132.977783203125px;
    height: 199.4666748046875px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei11_39_1_20 {
    color: rgba(255, 255, 255, 1);
    width: 115.83611297607422px;
    height: 40.51667022705078px;
    position: absolute;
    left: 8.311111450195312px;
    top: 125.70555877685547px;
    font-family: Roboto;
    text-align: center;

    letter-spacing: 0;
}

.ei11_39_1_21 {
    color: rgba(255, 255, 255, 1);
    width: 114.79722595214844px;
    height: 15px;
    position: absolute;
    left: 8.311111450195312px;
    top: 166.22222900390625px;
    font-family: Roboto;
    text-align: left;

    letter-spacing: 0;
}

.ei11_39_1_22 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 103.8888931274414px;
    height: 103.8888931274414px;
    position: absolute;
    left: 14.544445037841797px;
    top: 12.986111640930176px;
}

.e11_40 {
    box-shadow: 0px 2.077777862548828px 2.077777862548828px rgba(0, 0, 0, 0.25);
    width: 103.8888931274414px;
    height: 155.83334350585938px;
    position: absolute;
    left: 107.52490997314453px;
    top: 28.050016403198242px;
}

.ei11_40_1_8 {
    box-shadow: 0px 2.077777862548828px 25.97222328186035px rgba(0, 0, 0, 0.25);
    background-color: rgba(86.06250151991844, 83.98268312215805, 83.98268312215805, 1);
    width: 103.8888931274414px;
    height: 155.83334350585938px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei11_40_1_57 {
    color: rgba(255, 255, 255, 1);
    width: 96.61666870117188px;
    height: 29.088890075683594px;
    position: absolute;
    left: 3.636111259460449px;
    top: 100.2527847290039px;
    font-family: Roboto;
    text-align: center;

    letter-spacing: 0;
}

.ei11_40_1_58 {
    color: rgba(255, 255, 255, 1);
    width: 76.35833740234375px;
    height: 15px;
    position: absolute;
    left: 8.311111450195312px;
    top: 124.14723205566406px;
    font-family: Roboto;
    text-align: left;

    letter-spacing: 0;
}

.ei11_40_1_51 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 87.26667022705078px;
    height: 87.26667022705078px;
    position: absolute;
    left: 8.311111450195312px;
    top: 10.388890266418457px;
}

.e11_41 {
    box-shadow: 0px 2.077777862548828px 2.077777862548828px rgba(0, 0, 0, 0.25);
    width: 103.8888931274414px;
    height: 155.83334350585938px;
    position: absolute;
    left: 107.52490997314453px;
    top: 202.58334350585938px;
}

.ei11_41_1_8 {
    box-shadow: 0px 2.077777862548828px 25.97222328186035px rgba(0, 0, 0, 0.25);
    background-color: rgba(86.06250151991844, 83.98268312215805, 83.98268312215805, 1);
    width: 103.8888931274414px;
    height: 155.83334350585938px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei11_41_1_57 {
    color: rgba(255, 255, 255, 1);
    width: 96.61666870117188px;
    height: 29.088890075683594px;
    position: absolute;
    left: 3.636111259460449px;
    top: 100.2527847290039px;
    font-family: Roboto;
    text-align: center;
    letter-spacing: 0;
}

.ei11_41_1_58 {
    color: rgba(255, 255, 255, 1);
    width: 76.35833740234375px;
    height: 15px;
    position: absolute;
    left: 8.311111450195312px;
    top: 124.14722442626953px;
    font-family: Roboto;
    text-align: left;
    letter-spacing: 0;
}

.ei11_41_1_51 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 87.26667022705078px;
    height: 87.26667022705078px;
    position: absolute;
    left: 8.311111450195312px;
    top: 10.38888931274414px;
}

.e11_42 {
    box-shadow: 0px 2.077777862548828px 2.077777862548828px rgba(0, 0, 0, 0.25);
    width: 103.8888931274414px;
    height: 155.83334350585938px;
    position: absolute;
    left: 107.52490997314453px;
    top: 381.27227783203125px;
}

.ei11_42_1_8 {
    box-shadow: 0px 2.077777862548828px 25.97222328186035px rgba(0, 0, 0, 0.25);
    background-color: rgba(86.06250151991844, 83.98268312215805, 83.98268312215805, 1);
    width: 103.8888931274414px;
    height: 155.83334350585938px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei11_42_1_57 {
    color: rgba(255, 255, 255, 1);
    width: 96.61666870117188px;
    height: 29.088890075683594px;
    position: absolute;
    left: 3.636111259460449px;
    top: 100.2527847290039px;
    font-family: Roboto;
    text-align: center;
    letter-spacing: 0;
}

.ei11_42_1_58 {
    color: rgba(255, 255, 255, 1);
    width: 76.35833740234375px;
    height: 15px;
    position: absolute;
    left: 8.311111450195312px;
    top: 124.14722442626953px;
    font-family: Roboto;
    text-align: left;
    letter-spacing: 0;
}

.ei11_42_1_51 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 87.26667022705078px;
    height: 87.26667022705078px;
    position: absolute;
    left: 8.311111450195312px;
    top: 10.38888931274414px;
}

.e11_43 {
    box-shadow: 0px 2.077777862548828px 2.077777862548828px rgba(0, 0, 0, 0.25);
    width: 103.8888931274414px;
    height: 155.83334350585938px;
    position: absolute;
    left: 785.9195556640625px;
    top: 29.08890724182129px;
}

.ei11_43_1_8 {
    box-shadow: 0px 2.077777862548828px 25.97222328186035px rgba(0, 0, 0, 0.25);
    background-color: rgba(86.06250151991844, 83.98268312215805, 83.98268312215805, 1);
    width: 103.8888931274414px;
    height: 155.83334350585938px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei11_43_1_57 {
    color: rgba(255, 255, 255, 1);
    width: 96.61666870117188px;
    height: 29.088890075683594px;
    position: absolute;
    left: 3.636111259460449px;
    top: 100.2527847290039px;
    font-family: Roboto;
    text-align: center;
    letter-spacing: 0;
}

.ei11_43_1_58 {
    color: rgba(255, 255, 255, 1);
    width: 76.35833740234375px;
    height: 15px;
    position: absolute;
    left: 8.311111450195312px;
    top: 124.14723205566406px;
    font-family: Roboto;
    text-align: left;
    letter-spacing: 0;
}

.ei11_43_1_51 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 87.26667022705078px;
    height: 87.26667022705078px;
    position: absolute;
    left: 8.311111450195312px;
    top: 10.388888359069824px;
}

.e11_44 {
    box-shadow: 0px 2.077777862548828px 2.077777862548828px rgba(0, 0, 0, 0.25);
    width: 103.8888931274414px;
    height: 155.83334350585938px;
    position: absolute;
    left: 785.9195556640625px;
    top: 205.1805877685547px;
}

.ei11_44_1_8 {
    box-shadow: 0px 2.077777862548828px 25.97222328186035px rgba(0, 0, 0, 0.25);
    background-color: rgba(86.06250151991844, 83.98268312215805, 83.98268312215805, 1);
    width: 103.8888931274414px;
    height: 155.83334350585938px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei11_44_1_57 {
    color: rgba(255, 255, 255, 1);
    width: 96.61666870117188px;
    height: 29.088890075683594px;
    position: absolute;
    left: 3.636111259460449px;
    top: 100.25279235839844px;
    font-family: Roboto;
    text-align: center;
    letter-spacing: 0;
}

.ei11_44_1_58 {
    color: rgba(255, 255, 255, 1);
    width: 76.35833740234375px;
    height: 15px;
    position: absolute;
    left: 8.311111450195312px;
    top: 124.14723205566406px;
    font-family: Roboto;
    text-align: left;
    letter-spacing: 0;
}

.ei11_44_1_51 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 87.26667022705078px;
    height: 87.26667022705078px;
    position: absolute;
    left: 8.311111450195312px;
    top: 10.38888931274414px;
}

.e11_45 {
    box-shadow: 0px 2.077777862548828px 2.077777862548828px rgba(0, 0, 0, 0.25);
    width: 103.8888931274414px;
    height: 155.83334350585938px;
    position: absolute;
    left: 785.9195556640625px;
    top: 381.27227783203125px;
}

.ei11_45_1_8 {
    box-shadow: 0px 2.077777862548828px 25.97222328186035px rgba(0, 0, 0, 0.25);
    background-color: rgba(86.06250151991844, 83.98268312215805, 83.98268312215805, 1);
    width: 103.8888931274414px;
    height: 155.83334350585938px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei11_45_1_57 {
    color: rgba(255, 255, 255, 1);
    width: 96.61666870117188px;
    height: 29.088890075683594px;
    position: absolute;
    left: 3.636111259460449px;
    top: 100.2527847290039px;
    font-family: Roboto;
    text-align: center;
    letter-spacing: 0;
}

.ei11_45_1_58 {
    color: rgba(255, 255, 255, 1);
    width: 76.35833740234375px;
    height: 15px;
    position: absolute;
    left: 8.311111450195312px;
    top: 124.14722442626953px;
    font-family: Roboto;
    text-align: left;
    letter-spacing: 0;
}

.ei11_45_1_51 {
    background-color: rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
    width: 87.26667022705078px;
    height: 87.26667022705078px;
    position: absolute;
    left: 8.311111450195312px;
    top: 10.38888931274414px;
}

.e11_46 {
    color: rgba(43.56250025331974, 43.56250025331974, 43.56250025331974, 1);
    width: 209.3361053466797px;
    height: 63.372230529785156px;
    position: absolute;
    left: 393.7392578125px;
    top: 23.37500762939453px;
    font-family: Roboto;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 0;
}

.e11_47 {
    width: 66.4888916015625px;
    height: 66.4888916015625px;
    position: absolute;
    left: 465.4225158691406px;
    top: 459.1889343261719px;
}

.ei11_47_1_125 {
    box-shadow: 0px 0px 5.19444465637207px rgba(0, 0, 0, 0.25);
    border-radius: 500px;
    background-color: rgba(255, 195.4902532696724, 36.124995946884155, 1);
    width: 66.4888916015625px;
    height: 66.4888916015625px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.i11_47_1_125 {
    border: 1.038888931274414px solid rgba(102.00000151991844, 102.00000151991844, 102.00000151991844, 1);
}

.ei11_47_1_127 {
    color: rgba(0, 0, 0, 1);
    width: 29.608333587646484px;
    height: 44.15277862548828px;
    position: absolute;
    left: 18.700000762939453px;
    top: 6.233333587646484px;
    font-family: Roboto;
    text-align: center;

    letter-spacing: 0;
}
