{% extends "layout.html" %}
{% block body %}

    <div class="row">
        <h2>
            Movie matching and filtering using open data
        </h2>
    </div>
    <div class="row">
        <h3>
            About
        </h3>
        <p>
            This is a project for the course "data science" at the university of Twente. Movies are shown and per movie
            databases are queried, from which movies with the same or similar crew are queried. This application aims at
            providing an unbiased recommendation web, alongside an insight in which movies have a similar reference
            frame. This application works on the assumption that the properties of associated movies and the reference
            frames of their crews are not directly measurable. If movies have overlapping people working on them, the
            reference frame and feel are supposed to be similar, in a non-trivial and novel manner.
        </p>

        <h3>
            Functionality (see navbar)
        </h3>
    </div>
    <div class="row">
        <ul>
            <li>List expected movies from Pathé</li>
            <li>List expected movies from Pathé, via a pre-made RDF store</li>
            <li>Update the RDF store with the latest info from the Pathé site</li>
            <li>Search associations of a film of your choice</li>
        </ul>
    </div>
{% endblock %}
