<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/custom.css"></link>


    <title>Movie context database</title>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-yellow">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Data Science</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
        <a class="nav-link" href="{{ url_for('list_expected_movies') }}">Expected (direct)</a>
        <a class="nav-link" href="{{ url_for('load_expected_movies_rdf') }}">Expected (via RDF store)</a>
        <a class="nav-link" href="{{ url_for('scrape_expected_to_rdf') }}">Update RDF store</a>
        <a class="nav-link" href="{{ url_for('search') }}">Search</a>
      </div>
    </div>
  </div>
</nav>

<div class="container p-2">
{% if alert %}
<div class="row justify-content-center p-2">
    <div class="alert alert-warning">
        {{ alert }}
    </div>
</div>
{% endif %}
    {% block body %}{% endblock %}
</div>
<div>
    {% block app %}{% endblock %}
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
<script src="/static/movieSearch.js"></script>
</body>
</html>