{% extends "layout.html" %}
{% block body %}

    <div class="row w-100 bg-yellow p-3">
        <div>
            <h1>{{ text[0].name.value }}</h1>
            <p>Crew found: {{ text[0].pCount.value }}</p>
        </div>
    </div>
    <div class="row">
        <h2>
            Results <small class="text-muted">Ranked by match, click thumbnail to see wiki page</small>
        </h2>
    </div>
    <div class="row w-100 align-content-lg-center" onload="createOpacity('gallery')">
        {% for movie in text[1:] %}
            {% set src = movie.img or 'none' %}
            <div class="gallery" data-match="{{ movie.pCount.value }}">
                {% set url = movie.page or 'none' %}

                <a target="_blank" href="{{ url.value }}">

                    <img src="{{ src.value | default(url_for('static', filename='img/400x600.png')) }}"
                         alt="{{ movie.name.value }}" width="600" height="400">
                </a>
                <div class="desc">
                    <h4>{{ movie.name.value }}</h4>
                    <p>Match: {{ movie.pCount.value }}</p>

                </div>


            </div>

        {% endfor %}
    </div>
    <input id="crewN" type="hidden" value="{{ text[0].pCount.value }}">

{% endblock %}
