{% extends "layout.html" %}
{% block app %}

    {#    <div class="row">#}
    {#        <ul class=entries>#}
    {#            {% for entry in text %}#}
    {#                <li><h4>{{ entry.name.value }}</h4><i>Match: {{ entry.pCount.value }}</i></li>#}
    {#            {% else %}#}
    {#                <li><em>Unbelievable. No entries here so far</em></li>#}
    {#            {% endfor %}#}
    {#        </ul>#}
    {#    </div>#}
    <div style="position: relative">
        <div id="matchContainer" class="content-center" style="position: absolute; top: 50%; left: 15%">
            <div class="e11_35 text-container">
                <div class="ei11_35_1_3"></div>
                <span class="ei11_35_1_15 text">{{ text[0].name.value or "title" }}</span><span
                    class="ei11_35_1_16">Crew found: {{ text[0].pCount.value or "count" }}</span>
                <div class="ei11_35_1_17"></div>
            </div>
            <div class="e11_36 text-container">
                <div class="ei11_36_1_4"></div>
                <span class="ei11_36_1_20 text">{{ text[1].name.value or "title" }}</span><span
                    class="ei11_36_1_21">Match: {{ text[1].pCount.value or "count" }}</span>
                <div class="ei11_36_1_22"></div>
            </div>
            <div class="e11_37 text-container">
                <div class="ei11_37_1_4"></div>
                <span class="ei11_37_1_20 text">{{ text[2].name.value or "title" }}</span><span
                    class="ei11_37_1_21">Match: {{ text[2].pCount.value or "count" }}</span>
                <div class="ei11_37_1_22"></div>
            </div>
            <div class="e11_38 text-container">
                <div class="ei11_38_1_4"></div>
                <span class="ei11_38_1_20 text">{{ text[3].name.value or "title" }}</span><span
                    class="ei11_38_1_21">Match: {{ text[3].pCount.value or "count" }}</span>
                <div class="ei11_38_1_22"></div>
            </div>
            <div class=e11_39>
                <div class="ei11_39_1_4"></div>
                <span class="ei11_39_1_20">{{ text[4].name.value or "title" }}</span><span
                    class="ei11_39_1_21">Match: {{ text[4].pCount.value or "count" }}</span>
                <div class="ei11_39_1_22"></div>
            </div>
            <div class=e11_40>
                <div class="ei11_40_1_8"></div>
                <span class="ei11_40_1_57">{{ text[5].name.value or "title" }}</span><span
                    class="ei11_40_1_58">Match: {{ text[5].pCount.value or "count" }}</span>
                <div class="ei11_40_1_51"></div>
            </div>
            <div class=e11_41>
                <div class="ei11_41_1_8"></div>
                <span class="ei11_41_1_57">{{ text[6].name.value or "title" }}</span><span
                    class="ei11_41_1_58">Match: {{ text[6].pCount.value or "count" }}</span>
                <div class="ei11_41_1_51"></div>
            </div>
            <div class=e11_42>
                <div class="ei11_42_1_8"></div>
                <span class="ei11_42_1_57">{{ text[7].name.value or "title" }}</span><span
                    class="ei11_42_1_58">Match: {{ text[7].pCount.value or "count" }}</span>
                <div class="ei11_42_1_51"></div>
            </div>
            <div class=e11_43>
                <div class="ei11_43_1_8"></div>
                <span class="ei11_43_1_57">{{ text[8].name.value or "title" }}</span><span
                    class="ei11_43_1_58">Match: {{ text[8].pCount.value or "count" }}</span>
                <div class="ei11_43_1_51"></div>
            </div>
            <div class=e11_44>
                <div class="ei11_44_1_8"></div>
                <span class="ei11_44_1_57">{{ text[9].name.value or "title" }}</span><span
                    class="ei11_44_1_58">Match: {{ text[9].pCount.value or "count" }}</span>
                <div class="ei11_44_1_51"></div>
            </div>
            <div class=e11_45>
                <div class="ei11_45_1_8"></div>
                <span class="ei11_45_1_57">{{ text[10].name.value or "title" }}</span><span
                    class="ei11_45_1_58">Match: {{ text[10].pCount.value or "count" }}</span>
                <div class="ei11_45_1_51"></div>
            </div>
            <span class="e11_46">Results</span>
            <div class=e11_47>
                <div class="ei11_47_1_125"></div>
                <span class="ei11_47_1_127">...</span>
            </div>
        </div>
    </div>

    {#    <div class="row">#}
    {#        <h4>Debug info</h4>#}
    {#    </div>#}
    {#    <div class="row">#}
    {#        <code>#}
    {#            {{ result }}#}
    {#        </code>#}
    {#    </div>#}
{% endblock %}
