{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <h2>
            Expected movies <small class="text-muted">There are no current movies playing in cinemas at this
            time</small>
        </h2>
    </div>
    <div class="row w-100 align-content-lg-center">
        {% for movie in films %}
            <div class="gallery">
                <a target="_blank" href="{{ url_for('db_query', q=movie['http://local/title'][0]['@value']) }}">
                    <img src="{{ movie['http://local/imgurl'][0]['@value'] }}" alt="{{ movie['http://local/title'][0]['@value'] }}" width="600" height="400">
                </a>
                <div class="desc">{{ movie['http://local/title'][0]['@value'] }}</div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
