{% extends "layout.html" %}
{% block body %}

    <section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Movie Search</h1>
            <p class="lead text-muted">Here you can search for movies that have the same production crew, instead of the
                same content and characters.</p>

            <div class="input-group">
                <input id="movie_input" type="text" class="form-control" placeholder="Search for a movie">
                <div class="input-group-append">
                    <button id="movie_button" class="btn btn-secondary" type="button">
                        <i class="fa fa-search">Search</i>
                    </button>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}
