{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <h2>
            Multiple films found <small class="text-muted">Please select the correct title</small>
        </h2>
    </div>
    <div class="row w-100 align-content-lg-center">
        {% for (movie, title) in results %}
            <div class="gallery p-2">
                <a class="" target="_blank" href="{{ url_for('db_query', r=movie) }}">
                    {{ title }}
                </a>
                <div class="desc"></div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
